/*--About US section styles*/
.about{
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
  background: linear-gradient(to right, #CFDEF3, #E0EAFC);
  padding-bottom: 130px;
}

.section-header h3{
  margin-top: 70px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  text-decoration: none;
  text-overflow: inherit;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 35px;
  color: #78281F;

}
.section-para p{
  font-family: 'Assistant', sans-serif;
  color: black;
  text-align: justify;
  text-decoration: none;
  text-overflow: inherit;
  font-size: 17px;
  font-weight: 600;
}
