.service{
  background-image: url(../img/backgrounds/s_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
}
.contents h3{
  margin-top: 100px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  text-decoration: none;
  text-overflow: inherit;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 35px;
  color: #78281F;
}
.contents p{
  font-family: 'Assistant', sans-serif;
  color: white;
  text-align: justify;
  text-decoration: none;
  text-overflow: inherit;
  font-size: 17px;
  font-weight: 600;
}
