body{
  height: auto;
  background-image: linear-gradient(to right top, #909698, #969c9c, #9da2a1, #a5a8a6, #adaeab);
  overflow: scroll;

}

.hero{
  background-image: url(../img/backgrounds/h_img.jpg);
  background-size: cover;
  background-position: center;
  z-index: -10;
  padding-bottom: 220px;
}
.heros{
  margin-top: 190px;
  margin-left: 350px;
  margin-right: 350px;
}
.h_header h2{
  font-family: 'Oswald', sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
  text-overflow: inherit;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 45px;
}
.h_para{
  font-family: 'Assistant', sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
  text-overflow: inherit;
  text-transform: uppercase;
  font-weight: 500;>
  font-size: 15px;
}
.h_logo{
  margin-left:160px;
}


section {
  height: 60vh;
  width: 100%;
  display: table;

}

.about{
  background-image: linear-gradient(to right top, #f2f3f4, #eff0f1, #ebedee, #e8ebeb, #e5e8e8);
}
.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);

  }
}
