body{
  height: auto;
  background-image: linear-gradient(to right top, #909698, #969c9c, #9da2a1, #a5a8a6, #adaeab);
  overflow: scroll;

}

/* background style to hero section*/

.hero{
  background-image: url(../img/backgrounds/h_img.jpg);
  background-size: cover;
  background-position: center;
  z-index: -10;
  padding-bottom: 220px;
  background-attachment: fixed;
}

/*background styling to hero content*/

.heros{
  margin-top: 190px;
  margin-left: 350px;
  margin-right: 350px;
}
.h_header h2{
  font-family: 'Oswald', sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
  text-overflow: inherit;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 45px;
}
.h_para p{
  font-family: 'Assistant', sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
  text-overflow: inherit;
  text-transform: uppercase;
  font-weight: 500;>
  font-size: 15px;
}
.h_logo{
  margin-left: 40%;
}

/*scroll down styling*/

.scroll-down {
  position: absolute;
  left: 50%;
  margin-left: -16px;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);

  }
}

/*navigation bar*/
#navbar{
  overflow: hidden;
  background-color: #17202A;
}
.tabs a{
  float: left;
  display: block;
  color: #AAB7B8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Assistant', sans-serif;
  font-weight: 900;
}
.tabs a:hover{
  background-color: #1B4F72;
  color: white;
}
.active{
  background-color: #78281F;
}
.sticky{
  top: o;
  position: fixed;
  width: 100%
}
/*portfolio styles---*/

.port{
  position: relative;
  margin-right: 100px;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}
.text{
  color: black;
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.overlay:hover {
  opacity: 0.4;
}

#cont2{
  margin-top: 20px;
  padding-bottom: 50px;
}
